<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GorillaMelonManager.Models.Persistence.ManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GorillaMelonManager.Models.ManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GorillaMelonManager.Models.Persistence.ManagerSettings>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
        </GorillaMelonManager.Models.Persistence.ManagerSettings>
        <GorillaMelonManager.Models.ManagerSettings>
            <setting name="GorillaTagPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FindGorillaTag" serializeAs="String">
                <value>False</value>
            </setting>
        </GorillaMelonManager.Models.ManagerSettings>
    </userSettings>
</configuration>